[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask-restplus = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
"flask-psycopg2" = "*"
flask-bcrypt = "*"
autoenv = "*"
"psycopg2-binary" = "*"

[dev-packages]

[requires]
python_version = "3.6"
